/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min
 *= require_self
 */


.login-form, .signup-form {
  max-width: 300px;
  position: relative;
}

.login-container, .signup-container {
  position: relative;
  top: 30%;
  left: 66%;
  padding-top: 10%;
  max-width: 30%;
}

.why-login{
  font-size: 30px;
  margin-top: 3%;
  color: white;
}

.signup-link{
  position: relative;
  font-size: 20px;
  margin-top: 3%;
}

.signup-link a {
  color: white;
}

.signup-button {
  background: rgb(190, 95, 124);
  color: black;
}

.login-submit {
  margin-bottom: 3%;
}

.email-field, .password-field {
  margin-bottom: 4%;
}

.form-group .form-horizontal {
  margin-left: 0px;
}

.page-message {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.password-notice {
  text-align: center;
  padding: 25px;
  color: red;
}

.signup-error {
  color: white;
}

.login-background, .signup-background {
  max-width: 100%;
  background-image: url('cook_bk_background_copy-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}