// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form, .signup-form {
   max-width: 300px;
   position: relative;
 }

 .login-container, .signup-container {
   position: relative;
   top: 30%;
   left: 66%;
   padding-top: 10%;
   max-width: 30%;
 }

 .why-login{
   font-size: 30px;
   margin-top: 3%;
   color: white;
 }

 .signup-link{
   position: relative;
   font-size: 20px;
   margin-top: 3%;
 }

 .signup-link a {
   color: white;
 }

 .signup-button {
   background: rgb(190, 95, 124);
   color: black;
 }

 .login-submit {
   margin-bottom: 3%;
 }

 .email-field, .password-field {
   margin-bottom: 4%;
 }

 .form-group .form-horizontal {
   margin-left: 0px;
 }

 .page-message {
   font-size: 40px;
   text-align: center;
   padding: 10px;
 }

 .password-notice {
   text-align: center;
   padding: 25px;
   color: red;
 }

 .signup-error {
   color: white;
 }

 .login-background, .signup-background {
   max-width: 100%;
   background-image: url('cook_bk_background_copy-min.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   z-index: -1;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }
